html, body, p, h1, h2, h3, h4, h5, h6, a {
  font-size: 16px;
  font-weight: 400;
  color: #1F222D;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

a {
  text-decoration: none;
}

input, textarea, button, select {
  font-family: "Inter";
}

img, svg {
  display: block;
  user-select: none;
}

.content-wrap {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  src: url(../fonts/Inter-Regular.otf);
  font-display: block;
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Inter-Medium.otf);
  font-display: block;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Inter-SemiBold.otf);
  font-display: block;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Inter-Bold.otf);
  font-display: block;
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
}
html.popup {
  padding-right: 17px;
  overflow: hidden;
}
html.popup .popup-wrap {
  padding-left: 0;
  opacity: 1;
  pointer-events: all;
}
html.popup.request .popup-wrap .popup.request, html.popup.review .popup-wrap .popup.review, html.popup.error .popup-wrap .popup.error, html.popup.success .popup-wrap .popup.success {
  opacity: 1;
  pointer-events: all;
  transform: none;
}
html[data-is-mac=true] .popup-wrap {
  padding-left: 0;
}
html[data-is-mac=true].popup {
  padding-right: 0;
}

.popup-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(32, 32, 34, 0.67);
  padding-left: 17px;
  opacity: 0;
  overflow-y: scroll;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 1000;
}
.popup-wrap .popup {
  position: relative;
  max-width: 357px;
  width: calc(100% - 20px);
  background: #fff;
  border-radius: 15px;
  margin: 100px auto;
  padding: 52px 24px 24px;
  transform: translateY(-50px);
  transition: 0.2s;
}
.popup-wrap .popup .popup-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
.popup-wrap .popup .popup-subtitle {
  color: #777A81;
  line-height: 22px;
  margin-top: 8px;
  text-align: center;
}
.popup-wrap .popup .block-1__input-wrap {
  width: 100%;
  margin-top: 40px;
}
.popup-wrap .popup .block-1__input-wrap + .block-1__input-wrap {
  margin: 16px 0 0;
}
.popup-wrap .popup .block-1__input-wrap.textarea {
  height: 100px;
}
.popup-wrap .popup .block-1__input-wrap.textarea textarea {
  border-top: 26px solid transparent;
  padding-top: 0;
}
.popup-wrap .popup .block-1__input-wrap.textarea .block-1__input-placeholder {
  top: 15px;
}
.popup-wrap .popup .block-1__input-wrap.textarea .block-1__input-placeholder.moved {
  top: 6px;
}
.popup-wrap .popup .popup-btn {
  width: 100%;
  height: 56px;
  margin-top: 40px;
}
.popup-wrap .popup .popup-icon {
  margin: 0 auto 24px;
  filter: drop-shadow(0px 36px 20px rgba(228, 75, 130, 0.17));
}
.popup-wrap .popup .popup-x {
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}
.popup-wrap .popup .popup-x .icon {
  width: 24px;
  height: 24px;
  fill: #727171;
  transition: 0.2s;
  pointer-events: none;
}
.popup-wrap .popup .popup-x:hover .icon {
  transform: rotate(90deg);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #DE0430;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.button.alt {
  color: #0C1F34;
  background: #fff;
}
.button.alt:hover {
  background: #e6e6e6;
}
.button:hover {
  background: #C10027;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

.header {
  padding: 24px 0;
}
.header .content-wrap {
  display: flex;
  align-items: flex-start;
}
.header__links {
  display: flex;
  grid-gap: 40px;
  margin-left: 82px;
}
.header__link {
  line-height: 22px;
}
.header__link:hover {
  text-decoration: underline;
}
.header__phone {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  line-height: 20px;
}
.header__phone-wrap {
  margin: 0 16px 0 auto;
}
.header__phone-text {
  width: 187px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
}
.header__phone:hover {
  text-decoration: underline;
}
.header__btn {
  width: 153px;
  height: 44px;
  font-size: 14px;
}

.footer {
  background: #F8F8F8;
  margin-top: 190px;
  padding: 40px 0 42px;
}
.footer__flex-wrap {
  display: flex;
}
.footer__flex-wrap + .footer__flex-wrap {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DFDFDF;
  margin-top: 40px;
  padding-top: 32px;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 16px;
  margin-left: 219px;
}
.footer__link {
  line-height: 22px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__info {
  margin-left: auto;
  text-align: right;
}
.footer__info p {
  line-height: 22px;
}
.footer__info p span {
  font-weight: 600;
}
.footer__info p a:hover {
  text-decoration: underline;
}
.footer__info p + p {
  margin-top: 8px;
}
.footer__offer {
  font-size: 12px;
  color: #777A81;
  line-height: 20px;
}
.footer__policy {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.footer__policy:hover {
  text-decoration: underline;
}

.block-1 {
  margin-top: 65px;
}
.block-1 .content-wrap {
  position: relative;
}
.block-1__title {
  width: 675px;
  font-size: 42px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.004em;
}
.block-1__title span {
  color: #DE0430;
}
.block-1__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.block-1__input-wrap {
  position: relative;
  width: 197px;
  height: 52px;
}
.block-1__input-wrap input, .block-1__input-wrap textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #050507;
  line-height: 20px;
  background: #F5F7FA;
  border: none;
  border-bottom: 1px solid #869BB5;
  border-radius: 4px;
  padding: 26px 16px 5px;
  caret-color: #DE0430;
}
.block-1__input-wrap + .block-1__input-wrap {
  margin-left: 12px;
}
.block-1__input-placeholder {
  position: absolute;
  top: calc(50% - 11px);
  left: 16px;
  font-size: 16px;
  color: #727171;
  line-height: 22px;
  pointer-events: none;
  transition: 0.2s;
}
.block-1__input-placeholder.moved {
  top: 6px;
  font-size: 14px;
  line-height: 18px;
}
.block-1__btn {
  width: 170px;
  height: 52px;
  margin-left: 16px;
}
.block-1__personal {
  width: 100%;
  font-size: 12px;
  color: #777A81;
  line-height: 14px;
  margin-top: 8px;
}
.block-1__personal a {
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  text-decoration: underline;
}
.block-1__personal a:hover {
  text-decoration: none;
}
.block-1__items {
  display: flex;
  grid-gap: 40px;
  margin-top: 53px;
}
.block-1__item-title {
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
}
.block-1__item-subtitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}
.block-1__item:nth-child(1) {
  width: 172px;
}
.block-1__item:nth-child(2) {
  width: 159px;
}
.block-1__item:nth-child(3) {
  width: 159px;
}
.block-1__item:nth-child(4) {
  width: 151px;
}
.block-1__decor {
  position: absolute;
  top: -25px;
  left: calc(50% + 86px);
  z-index: -1;
}
.block-1__img {
  position: absolute;
  top: 16px;
  left: calc(50% + 256px);
  width: 267px;
}

.block-2 {
  margin-top: 182px;
}
.block-2 .content-wrap {
  display: flex;
  justify-content: space-between;
}
.block-2__left {
  width: 534px;
}
.block-2__left-text {
  font-size: 16px;
  color: #777A81;
  line-height: 22px;
  margin-top: 24px;
}
.block-2__right {
  display: grid;
  grid-template-columns: repeat(2, 309px);
  grid-auto-rows: 104px;
  grid-gap: 24px 28px;
  margin-left: 20px;
}
.block-2__item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px 12px 0;
  box-shadow: 0px -5px 4px rgba(34, 70, 113, 0.02), 0px 4px 4px rgba(34, 70, 113, 0.08);
}
.block-2__item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.block-2__item-subtitle {
  font-size: 14px;
  color: #777A81;
  line-height: 22px;
  margin-top: 4px;
}
.block-2__item-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #F5F7FA;
  border-radius: 50px;
  margin-left: 4px;
}

.block-3 {
  margin-top: 60px;
}
.block-3 .swiper-slide {
  width: 248px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-3 .swiper-slide img {
  transform: scale(0.5);
}

.block-4 {
  margin-top: 120px;
}
.block-4__table {
  border-radius: 8px;
  margin-top: 32px;
  padding: 8px 0 32px;
  overflow: hidden;
  box-shadow: 0px -2px 5px rgba(34, 70, 113, 0.06), 0px 4px 6px rgba(34, 70, 113, 0.08);
}
.block-4__table-head, .block-4__table-row {
  display: flex;
  grid-gap: 32px;
  padding: 16px 32px;
}
.block-4__table-row:nth-child(2n+1) {
  background: #F5F7FA;
}
.block-4__table-row:nth-last-child(-n+4) {
  display: none;
}
.block-4__table-cell {
  line-height: 19px;
}
.block-4__table-cell span {
  font-weight: 600;
}
.block-4__table-cell a {
  font-weight: 600;
  color: #DE0430;
  transition: 0.2s;
}
.block-4__table-cell a:hover {
  color: #C10027;
}
.block-4__table-cell:first-child {
  width: 722px;
}
.block-4__table-cell:last-child {
  margin-left: auto;
}
.block-4__table-more {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #DE0430;
  line-height: 18px;
  margin-top: 32px;
  padding-left: 32px;
  cursor: pointer;
}
.block-4__table-more .icon {
  width: 20px;
  height: 20px;
  fill: #DE0430;
  margin-right: 6px;
  transition: 0.2s;
}
.block-4__table.opened .block-4__table-row:nth-last-child(-n+4) {
  display: flex;
}
.block-4__head-cell {
  font-size: 16px;
  color: #777A81;
  line-height: 22px;
  letter-spacing: 0.025em;
}
.block-4__head-cell:first-child {
  width: 722px;
}
.block-4__text {
  font-size: 14px;
  color: #777A81;
  line-height: 22px;
  margin-top: 12px;
}
.block-4__payment-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 12px;
}
.block-4__payment-text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  padding-left: 21px;
}
.block-4__discount {
  position: relative;
  height: 256px;
  background: #FD7866;
  margin-top: 48px;
  border-radius: 8px;
  padding: 32px;
}
.block-4__discount-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  line-height: 28px;
}
.block-4__discount-title + .block-4__discount-title {
  margin-top: 12px;
}
.block-4__discount-subtitle {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  margin-top: 24px;
}
.block-4__discount-btn {
  width: 186px;
  height: 46px;
  margin-top: 36px;
}
.block-4__discount-decor {
  position: absolute;
  top: 0;
  right: 59px;
  pointer-events: none;
}
.block-4__discount-img {
  position: absolute;
  bottom: 0;
  right: 234px;
  width: 269px;
  pointer-events: none;
}

.block-5 {
  margin-top: 120px;
}
.block-5__wrap {
  width: 100%;
}
.block-5__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-gap: 10px;
  margin-top: 94px;
}
.block-5__item {
  width: 421px;
  background: #F5F7FA;
  border-radius: 8px;
  margin-top: 46px;
  padding: 24px 0;
}
.block-5__item-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.block-5__item-text {
  width: 332px;
  display: flex;
  align-items: center;
  line-height: 22px;
  margin: 24px auto 0;
}
.block-5__item-text .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 8px;
}
.block-5__item-text .icon.x {
  fill: #FF332D;
}
.block-5__item-text .icon.check {
  fill: #00AD45;
}
.block-5__item-text + .block-5__item-text {
  margin-top: 26px;
}
.block-5__item.main {
  position: relative;
  width: 422px;
  flex-shrink: 0;
  background: #FFE0E6;
  border: 2px solid #DE0430;
  margin-top: 0;
  padding: 22px 0;
}
.block-5__item.main .block-5__item-text {
  width: 374px;
}
.block-5__btn {
  width: 170px;
  height: 50px;
  margin: 32px auto 0;
}
.block-5__badge {
  position: absolute;
  top: -40px;
  right: -34px;
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 22px;
  text-align: center;
  z-index: 1;
}
.block-5__badge .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  fill: #DE0430;
  transform: rotate(45deg);
  z-index: -1;
}

.block-6 {
  background: #F5F7FA;
  margin-top: 120px;
  overflow: hidden;
}
.block-6 .content-wrap {
  position: relative;
  padding-top: 60px;
  padding-bottom: 66px;
}
.block-6 .content-wrap::before {
  content: "";
  position: absolute;
  left: calc(50% + 81px);
  bottom: -45px;
  width: 430px;
  height: 430px;
  background: linear-gradient(21.78deg, #DE0430 28.96%, #FB3059 86.53%);
  border-radius: 50%;
}
.block-6 .section-title {
  font-weight: 600;
}
.block-6__item {
  display: flex;
  margin-top: 40px;
}
.block-6__item + .block-6__item {
  margin-top: 32px;
}
.block-6__num {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(4.34deg, #F77892 3.53%, #DE0430 89.45%);
  border-radius: 50%;
  margin-right: 32px;
}
.block-6__title {
  font-size: 20px;
  font-weight: 600px;
  line-height: 28px;
}
.block-6__subtitle {
  color: #777A81;
  line-height: 22px;
  margin-top: 8px;
}
.block-6__img {
  position: absolute;
  left: calc(50% - 52px);
  bottom: 0;
  width: 772px;
}

.block-7 {
  margin-top: 120px;
}
.block-7 .content-wrap {
  display: flex;
  justify-content: space-between;
}
.block-7__left {
  width: 534px;
  flex-shrink: 0;
}
.block-7__map {
  width: 657px;
  border-radius: 8px;
  overflow: hidden;
}
.block-7__grid {
  display: grid;
  grid-template-columns: repeat(2, 191px);
  grid-gap: 48px 65px;
  margin-top: 32px;
}
.block-7__item {
  position: relative;
}
.block-7__item-title {
  color: #777A81;
  line-height: 22px;
}
.block-7__item-value {
  font-size: 32px;
  font-weight: 600;
  color: #DE0430;
  line-height: 30px;
  margin-top: 8px;
}
.block-7__item:nth-child(2n+1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -33px;
  bottom: 0;
  width: 1px;
  background: #DFDFDF;
}
.block-7__item:nth-child(n+3)::after {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  height: 1px;
  background: #DFDFDF;
}
.block-7__btn {
  width: 170px;
  height: 50px;
  margin-top: 40px;
}

.block-8 {
  background: #F5F7FA;
  margin-top: 120px;
  padding: 60px 0 92px;
  overflow: hidden;
}
.block-8 .section-title {
  font-weight: 600;
}
.block-8__title-wrap {
  display: flex;
  align-items: flex-start;
}
.block-8__btn {
  width: 158px;
  height: 50px;
  margin: 2px 0 0 auto;
}
.block-8__slider-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  margin: 2px 0 0 24px;
  cursor: pointer;
  transition: 0.2s;
}
.block-8__slider-btn .icon {
  width: 33px;
  height: 33px;
  fill: none;
  stroke: #DE0430;
  stroke-width: 2px;
  stroke-linecap: round;
}
.block-8__slider-btn.l .icon {
  transform: rotate(180deg);
}
.block-8__slider-btn + .block-8__slider-btn {
  margin-left: 12px;
}
.block-8__slider-btn:hover {
  background: #e6e6e6;
}
.block-8__slider {
  margin-top: 44px;
}
.block-8__slider .swiper {
  overflow: visible;
}
.block-8__slider .swiper-slide {
  width: calc(50% - 14px);
  background: #fff;
  border-radius: 16px;
  padding: 32px 40px 46px;
  box-shadow: 0px 4px 14px rgba(77, 86, 105, 0.12);
  opacity: 0;
  transition: 0.2s;
}
.block-8__slider .swiper-slide.swiper-slide-active, .block-8__slider .swiper-slide.swiper-slide-active + .swiper-slide {
  opacity: 1;
}
.block-8__author {
  display: flex;
  align-items: flex-start;
}
.block-8__author-photo {
  width: 48px;
  border-radius: 50%;
  margin-right: 24px;
}
.block-8__author-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.block-8__author-type {
  color: #777A81;
  line-height: 22px;
  margin-top: 4px;
}
.block-8__text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
}
.block-8__pagination {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
.block-8__pagination .swiper-pagination-bullet {
  background: #FFE0E6;
  margin: 0 6px !important;
  opacity: 1;
  transition: 0.2s;
}
.block-8__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #DE0430;
}

.block-9 {
  margin-top: 129px;
}
.block-9 .content-wrap {
  position: relative;
}
.block-9 .section-title {
  font-weight: 600;
}
.block-9__subtitle {
  line-height: 22px;
  margin-top: 32px;
}
.block-9__form {
  margin-top: 40px;
}
.block-9__flex-wrap {
  display: flex;
}
.block-9 .block-1__input-wrap + .block-1__input-wrap {
  margin-left: 28px;
}
.block-9__btn {
  width: 197px;
  height: 52px;
  margin-top: 40px;
}
.block-9__personal {
  font-size: 12px;
  color: #777A81;
  line-height: 14px;
  margin-top: 8px;
}
.block-9__personal a {
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  text-decoration: underline;
}
.block-9__personal a:hover {
  text-decoration: none;
}
.block-9__circle {
  position: absolute;
  top: 10px;
  left: calc(50% + 15px);
  width: 472px;
  height: 472px;
  background: linear-gradient(21.78deg, #DE0430 28.96%, #FB3059 86.53%);
  border-radius: 50%;
}
.block-9__img {
  position: absolute;
  top: -94px;
  left: calc(50% + 15px);
  width: 472px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  padding-left: 54px;
  overflow: hidden;
}
.block-9__img img {
  width: 370px;
  transform: translateY(8px);
}

.hide-xl {
  display: none !important;
}

@media (max-width: 1199px) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .show-lg-flex {
    display: flex !important;
  }
  .show-lg-inline {
    display: inline !important;
  }
  html.popup {
    padding-right: 0;
  }
  .popup-wrap {
    padding-left: 0;
  }
  .header__links {
    grid-gap: 15px;
    margin-left: 20px;
  }
  .header__link {
    text-align: center;
  }
  .footer__links {
    margin-left: 40px;
  }
  .block-1__items {
    grid-gap: 20px;
  }
  .block-2__right {
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: 130px;
    grid-gap: 10px 10px;
  }
  .block-3 .swiper-slide {
    width: 200px;
  }
  .block-4__head-cell:first-child,
.block-4__table-cell:first-child {
    width: 570px;
  }
  .block-5__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .block-5__item {
    margin: 0;
  }
  .block-5__item.main {
    order: -1;
  }
  .block-6 .content-wrap::before {
    left: calc(50% + 101px);
    bottom: -25px;
    width: 330px;
    height: 330px;
  }
  .block-6__img {
    left: calc(50% + 38px);
    width: 500px;
  }
}
@media (max-width: 991px) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .show-md-flex {
    display: flex !important;
  }
  .show-md-inline {
    display: inline !important;
  }
  .footer__links {
    margin: 0 30px;
  }
  .block-1__decor {
    left: calc(50% + 286px);
  }
  .block-2 {
    margin-top: 90px;
  }
  .block-2__right {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  .block-2__item {
    padding-bottom: 20px;
  }
  .block-4 {
    margin-top: 60px;
  }
  .block-4__head-cell:first-child, .block-4__table-cell:first-child {
    width: 380px;
  }
  .block-4__text br {
    display: none;
  }
  .block-4__discount-decor {
    right: -70px;
  }
  .block-4__discount-img {
    right: 15px;
  }
  .block-5 .section-title {
    font-size: 32px;
    line-height: normal;
  }
  .block-5__items {
    grid-gap: 20px;
    margin-top: 60px;
  }
  .block-6 .content-wrap {
    padding-bottom: 450px;
  }
  .block-6 .content-wrap::before {
    left: calc(50% - 165px);
  }
  .block-6__img {
    left: calc(50% - 250px);
  }
  .block-7 .section-title {
    font-size: 32px;
    line-height: normal;
  }
  .block-7__left {
    width: 470px;
  }
  .block-8 .section-title {
    font-size: 32px;
    line-height: normal;
  }
  .block-8__title-wrap {
    align-items: center;
  }
  .block-8__btn, .block-8__slider-btn {
    margin-top: 0;
  }
  .block-9__circle, .block-9__img {
    left: calc(50% + 115px);
  }
}
@media (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .show-sm-flex {
    display: flex !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  .section-title {
    font-size: 32px;
    line-height: normal;
  }
  .popup-wrap .popup {
    padding-left: 20px;
    padding-right: 20px;
  }
  .popup-wrap .popup .block-1__personal {
    margin-top: 8px;
  }
  .header .content-wrap {
    align-items: center;
  }
  .header__logo img {
    width: 200px;
  }
  .footer {
    margin-top: 50px;
  }
  .footer__flex-wrap {
    align-items: center;
    flex-direction: column;
    grid-gap: 30px;
  }
  .footer__links {
    align-items: center;
    margin: 0;
  }
  .footer__info {
    margin: 0;
    text-align: center;
  }
  .block-1 {
    margin-top: 30px;
  }
  .block-1__title {
    width: 100%;
    font-size: 32px;
    line-height: normal;
  }
  .block-1__input-wrap + .block-1__input-wrap, .block-1__btn {
    margin-left: 0;
  }
  .block-1__btn {
    width: 197px;
  }
  .block-1__form {
    grid-gap: 10px;
  }
  .block-1__personal {
    margin-top: 0;
  }
  .block-1__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
  }
  .block-2 .content-wrap {
    flex-wrap: wrap;
    grid-gap: 30px;
  }
  .block-2__left {
    width: 100%;
  }
  .block-2__right {
    width: 100%;
    margin-left: 0;
  }
  .block-4__head-cell:first-child, .block-4__table-cell:first-child {
    width: 220px;
  }
  .block-4__discount-img {
    width: 170px;
  }
  .block-5 {
    margin-top: 60px;
  }
  .block-5 .section-title {
    font-size: 24px;
  }
  .block-6 {
    margin-top: 60px;
  }
  .block-6 .content-wrap {
    padding-top: 30px;
  }
  .block-7 {
    margin-top: 60px;
  }
  .block-7 .content-wrap {
    flex-wrap: wrap;
    grid-gap: 30px;
  }
  .block-7__left {
    width: 100%;
  }
  .block-7__map {
    width: calc(100% + 40px);
    height: 300px;
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
  .block-8 {
    margin-top: 0;
    padding-bottom: 60px;
  }
  .block-8 .section-title {
    font-size: 24px;
    margin-right: 20px;
  }
  .block-8__btn, .block-8__slider-btn {
    flex-shrink: 0;
  }
  .block-8__slider .swiper-slide {
    width: 100%;
  }
  .block-8__pagination {
    margin-top: 30px;
  }
  .block-9 {
    margin-top: 60px;
  }
  .block-9 .content-wrap {
    padding-bottom: 340px;
  }
  .block-9__circle, .block-9__img {
    top: auto;
    left: calc(50% - 236px);
    bottom: 0;
    transform: scale(0.6);
    transform-origin: center bottom;
  }
}
@media (max-width: 575px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
  .show-xs-flex {
    display: flex !important;
  }
  .show-xs-inline {
    display: inline !important;
  }
  .content-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-title {
    font-size: 24px;
  }
  .header .content-wrap {
    position: relative;
    height: 70px;
    align-items: flex-start;
  }
  .header__logo {
    margin-top: 4px;
  }
  .header__logo img {
    width: 185px;
  }
  .header__phone {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  .block-1 {
    margin-top: 0;
  }
  .block-1__title {
    font-size: 24px;
  }
  .block-1__input-wrap, .block-1__btn {
    width: 100%;
  }
  .block-4__table-head, .block-4__table-row {
    grid-gap: 10px;
    padding: 16px;
  }
  .block-4__table-row {
    position: relative;
    flex-direction: column;
  }
  .block-4__table-cell:last-child {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
  .block-4__head-cell:first-child, .block-4__table-cell:first-child {
    width: calc(100% - 100px);
    flex-shrink: 0;
  }
  .block-4__discount {
    height: auto;
    padding-bottom: 30px;
  }
  .block-4__discount-title {
    font-size: 24px;
  }
  .block-4__discount-title + .block-4__discount-title {
    margin-top: 6px;
  }
  .block-4__discount-decor {
    height: 100%;
  }
  .block-4__discount-img {
    width: 100px;
  }
  .block-5__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .block-5__item-text {
    width: 100%;
  }
  .block-5__item-text br {
    display: none;
  }
  .block-5__item.main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .block-5__item.main .block-5__item-text {
    width: 100%;
  }
  .block-5__btn {
    width: 100%;
  }
  .block-6__num {
    flex-shrink: 0;
    margin-right: 15px;
  }
  .block-7 .section-title {
    font-size: 24px;
  }
  .block-7__grid {
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-gap: 48px 0px;
    justify-content: space-between;
  }
  .block-7__item:nth-child(2n+1)::before {
    right: -10px;
  }
  .block-7__btn {
    width: 100%;
  }
  .block-7__map {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
  }
  .block-8 .section-title {
    width: 100%;
    margin-bottom: 20px;
  }
  .block-8__title-wrap {
    flex-wrap: wrap;
  }
  .block-8__btn {
    margin: 0 auto 0 0;
  }
  .block-9 .content-wrap {
    padding-bottom: 0;
  }
  .block-9__flex-wrap {
    flex-wrap: wrap;
    grid-gap: 10px;
  }
  .block-9__flex-wrap .block-1__input-wrap {
    width: 100%;
  }
  .block-9__flex-wrap .block-1__input-wrap + .block-1__input-wrap {
    margin-left: 0;
  }
  .block-9__btn {
    width: 100%;
    margin-top: 10px;
  }
}